.fa-shopping-cart{
    color: white;
    font-size: 24px;
    margin-right: 30px;
    margin-left: 10px;
}

.title_nav{
    margin-right: 100px;
    padding-left: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
}

.logo_header{
    width: 55%;
}

.navbar {
    background-color: black!important;
}
.dropdown-menu{
    background-color: black!important;
}

.navbar-text{
    display: flex;
    justify-content: center;
}
